* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  user-select: none;
}

.app-page {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  background-color: #404040;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-page__weather {
  position: relative;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: linear-gradient(135deg, #217e64, #443d74);
}

.weather-app__search-and-input {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.searh-history-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: none;
  color: whitesmoke;
  font-size: 1.2rem;
  border-radius: 0.2rem;
}

.fa-bars {
  margin-top: 0.1rem;
}

.searh-history-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  color: #b2cbd8;
}

/* История просмотров погоды: */
.weather-app__search-history-wrapper {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
}

.search-history-wrapper__search-history {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  border-radius: 0.3rem;
}

.weather-search-history__elem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.3rem;
}

.weather-search-history__elem:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.weather-search-history__elem__city-name {
  white-space: nowrap;
}

.weather-search-history__elem__weather-info {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* Поле инпут: */
.search-and-input__input {
  width: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
  padding: 0.2rem;
  background-color: whitesmoke;
}

.input-inner__label {
  border: none;
  background-color: whitesmoke;
}

.input-inner__input-elem {
  width: 90%;
  padding: 0.2rem;
  outline: none;
  font-size: 1.1rem;
  border: none;
  background-color: whitesmoke;
}

.fa-magnifying-glass {
  padding: 0.2rem;
  font-size: 1.3rem;
  color: #404040;
  opacity: 0.8;
}

.fa-magnifying-glass:hover {
  cursor: pointer;
}

.search-and-input__input:hover .fa-magnifying-glass {
  color: rgb(22, 22, 22);
}

/* Анимация поиска информации по прогнозу погоды: */
.fa-magnifying-glass.animation {
  animation: glass-blink-animation 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes glass-blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Текущий прогноз погоды: */
.weather-app__current {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.current-weather__city {
  color: #e0e0e0;
}

.current-weather__descrip__label {
  min-height: 54px;
}

.current-weather__params {
  display: flex;
  gap: 1rem;
}

.current-weather__params__elem {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.current-weather__label {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background: #86959d;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 38px;
  min-height: 38px;
  padding: 0.6rem;
  border-radius: 0.2rem;
}

/* Текущий день прогноз погоды: */
.weather-app__current-day {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
  padding: 0.5rem;
}

.current-day-forecast__elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
  border-radius: 0.2rem;
}

.current-day-forecast__elem:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s, box-shadow 0.3s;
}

/* Прогноз погоды на ближайшие 5 дней: */
.weather-app__forecast {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.weather-forecast__title {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid rgb(68 61 116 / 20%);
  color: #e0e0e0;
}

.weather-forecast__info {
  display: flex;
  flex-direction: column;
  min-height: 270px;
}

.forecast-info__elem {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.2rem;
}

.forecast-info__elem:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s, box-shadow 0.3s;
}

/* Рендер деталей погоды (прогноз 5 дней) по каждому дню: */
.weather-forecast__title {
  text-align: center;
}

.weather-forecast__info-details-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.forecast-info-details-container__label > i {
  cursor: pointer;
}

.forecast-info-details-container__info-details {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.forecast-info-details__elem {
  padding: 1rem;
  border-radius: 0.3rem;
  white-space: nowrap;
}

.forecast-info-details__elem:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s, box-shadow 0.3s;
}

.forecast-day-details__params__elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.weather-forecast__day-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.forecast-day-details__temp-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.forecast-day-details__descrip {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.forecast-day-details__params {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.day-weather__label {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background: #86959d;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  padding: 0.6rem;
  border-radius: 0.2rem;
}

.forecast-info-details-container__label {
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

/* --------------------------------------------------------------------------------- */
/* ДЕСКТОПЫ С БОЛЬШИМИ ЭКРАНАМИ: */
/* --------------------------------------------------------------------------------- */
@media (min-width: 1281px) {
  .app-page__weather {
    padding: 2rem 6rem;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    gap: 1rem;
    justify-content: space-between;
  }

  /* ХЕАДЕР: */
  .search-and-input__btn {
    padding: 1rem;
  }

  .search-and-input__input {
    padding: 1rem;
    gap: 0.5rem;
  }

  .input-inner__input-elem {
    font-size: 1.5rem;
    padding: 0;
  }

  .fa-magnifying-glass {
    font-size: 1.6rem;
  }

  /* ТЕКУЩАЯ ПОГОДА: */
  .weather-app__current {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  .current-weather__city {
    text-align: center;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .current-weather__temp {
    margin: auto;
    font-size: 3rem;
  }

  .current-weather__descrip {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .current-weather__descrip__feels-like {
    white-space: nowrap;
  }

  .current-weather__label {
    min-width: 45px;
    min-height: 45px;
  }

  .current-weather__descrip__text-and-label {
    display: flex;
    align-items: center;
    border: none;
    gap: 1rem;
  }

  .current-weather__params {
    display: flex;
    justify-content: space-around;
    grid-column: span 2;
    width: 100%;
  }

  .current-weather__params__elem {
    gap: 1rem;
  }

  /* ПРОГНОЗ НА ТЕКУЩИЙ ДЕНЬ: */
  .weather-app__current-day {
    padding: 1rem;
  }

  .current-day-forecast__elem {
    padding: 1rem;
    flex-direction: row;
    gap: 0.5rem;
  }

  .weather-app__forecast {
    padding: 1rem;
  }

  /* ПРОГНОЗ НА 5 ДНЕЙ: */
  .weather-forecast__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .forecast-info__elem {
    gap: 2rem;
    font-size: 1.7rem;
  }

  /* Рендер деталей погоды (прогноз 5 дней) по каждому дню: */
  .forecast-info-details-container__info-details,
  .weather-forecast__info-details-container {
    gap: 2rem;
  }

  .forecast-info-details__elem {
    padding: 1rem;
  }
}

/* --------------------------------------------------------------------------------- */
/* ДЕСКТОПЫ С МАЛЕНЬКИМИ ЭКРАНАМИ: */
/* --------------------------------------------------------------------------------- */
@media (max-width: 1280px) {
  .app-page__weather {
    padding: 2rem 4rem;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    gap: 1rem;
    justify-content: space-between;
  }

  /* ХЕАДЕР: */
  .search-and-input__btn {
    padding: 1rem;
  }

  .search-and-input__input {
    padding: 1rem;
    gap: 0.5rem;
  }

  .input-inner__input-elem {
    font-size: 1.5rem;
    padding: 0;
  }

  .fa-magnifying-glass {
    font-size: 1.6rem;
  }

  /* ТЕКУЩАЯ ПОГОДА: */
  .weather-app__current {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  .current-weather__city {
    text-align: center;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .current-weather__temp {
    margin: auto;
    font-size: 3rem;
  }

  .current-weather__descrip {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .current-weather__descrip__feels-like {
    white-space: nowrap;
  }

  .current-weather__label {
    min-width: 45px;
    min-height: 45px;
  }

  .current-weather__descrip__text-and-label {
    display: flex;
    align-items: center;
    border: none;
    gap: 1rem;
  }

  .current-weather__params {
    display: flex;
    justify-content: space-around;
    grid-column: span 2;
    width: 100%;
  }

  .current-weather__params__elem {
    gap: 1rem;
  }

  /* ПРОГНОЗ НА ТЕКУЩИЙ ДЕНЬ: */
  .weather-app__current-day {
    padding: 1rem;
  }

  .current-day-forecast__elem {
    padding: 1rem;
    flex-direction: row;
    gap: 0.5rem;
  }

  .weather-app__forecast {
    padding: 1rem;
  }

  /* ПРОГНОЗ НА 5 ДНЕЙ: */
  .weather-forecast__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .forecast-info__elem {
    gap: 2rem;
    font-size: 1.7rem;
  }

  /* Рендер деталей погоды (прогноз 5 дней) по каждому дню: */
  .forecast-info-details-container__info-details,
  .weather-forecast__info-details-container {
    gap: 2rem;
  }

  .forecast-info-details__elem {
    padding: 1rem;
  }
}

/* --------------------------------------------------------------------------------- */
/* ПОРТАТИВНЫЕ УСТРОЙСТВА (ПЛАНШЕТЫ): */
/* --------------------------------------------------------------------------------- */

@media (max-width: 1185px) {
  /* 1100px */
  .app-page__weather {
    padding: 1rem 2rem;
  }

  .current-day-forecast__elem {
    padding: 1rem;
    flex-direction: column;
    gap: 0.5rem;
  }

  .weather-app__forecast {
    padding: 1rem;
  }

  .forecast-info__elem {
    gap: 2rem;
    font-size: 1.5rem;
  }

  /* Рендер деталей погоды (прогноз 5 дней) по каждому дню: */
  .forecast-info-details-container__info-details,
  .weather-forecast__info-details-container {
    gap: 1rem;
  }

  .forecast-info-details__elem {
    padding: 0.7rem;
  }
}

/* --------------------------------------------------------------------------------- */
/* МОБИЛЬНЫЕ УСТРОЙСТВА (ЛАНДШАФТНАЯ ОРИЕНТАЦИЯ): */
/* --------------------------------------------------------------------------------- */

@media (max-width: 885px) {
  /* 768px */
  .app-page__weather {
    padding: 1.5rem 2.5rem;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    gap: 1rem;
    justify-content: space-between;
  }

  /* ХЕАДЕР: */
  .search-and-input__btn {
    padding: 1rem;
  }

  .search-and-input__input {
    padding: 1rem;
    gap: 0.5rem;
  }

  .input-inner__input-elem {
    font-size: 1.5rem;
    padding: 0;
  }

  .fa-magnifying-glass {
    font-size: 1.6rem;
  }

  /* ТЕКУЩАЯ ПОГОДА: */
  .weather-app__current {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  .current-weather__city {
    text-align: center;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .current-weather__temp {
    margin: auto;
    font-size: 2.7rem;
  }

  .current-weather__descrip {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .current-weather__descrip__feels-like {
    white-space: nowrap;
  }

  .current-weather__label {
    min-width: 45px;
    min-height: 45px;
  }

  .current-weather__descrip__text-and-label {
    display: flex;
    align-items: center;
    border: none;
    gap: 1rem;
  }

  .current-weather__params {
    display: flex;
    justify-content: space-around;
    grid-column: span 2;
    width: 100%;
  }

  .current-weather__params__elem {
    gap: 1rem;
  }

  /* ПРОГНОЗ НА ТЕКУЩИЙ ДЕНЬ: */
  .weather-app__current-day {
    padding: 1rem;
  }

  .current-day-forecast__elem {
    padding: 1rem;
    gap: 0;
  }

  .weather-app__forecast {
    padding: 1rem;
  }

  /* ПРОГНОЗ НА 5 ДНЕЙ: */
  .weather-forecast__title {
    font-size: 1.6rem;
  }

  .weather-forecast__info {
    display: flex;
    gap: 0;
  }

  .forecast-info__elem {
    gap: 2rem;
  }

  /* Рендер деталей погоды (прогноз 5 дней) по каждому дню: */
  .weather-forecast__info-details-container {
    width: 100%;
    overflow-x: scroll;
  }

  .weather-forecast__info-details-container {
    justify-content: space-between;
  }

  .forecast-info-details-container__info-details,
  .weather-forecast__info-details-container {
    gap: 0.5rem;
  }

  .forecast-info-details__elem {
    padding: 0.5rem;
  }
}

/* --------------------------------------------------------------------------------- */
/* МОБИЛЬНЫЕ УСТРОЙСТВА (ПОРТРЕТНАЯ ОРИЕНТАЦИЯ): ----------------------------------- */
/* --------------------------------------------------------------------------------- */

@media (max-width: 600px) {
  .app-page__weather {
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
  }

  /* ХЕАДЕР: */
  .search-and-input__btn {
    padding: 0.5rem;
  }

  .search-and-input__input {
    padding: 0.4rem 0.2rem;
    min-width: 240px;
  }

  .input-inner__input-elem {
    font-size: 1rem;
    padding: 0;
  }

  .fa-magnifying-glass {
    font-size: 1.1rem;
  }

  /* ТЕКУЩАЯ ПОГОДА: */

  .weather-app__current {
    display: flex;
    padding: 0.5rem;
  }

  .current-weather__city {
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .current-weather__temp {
    margin: 0;
    font-size: 1.2rem;
  }

  .current-weather__descrip {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .current-weather__label {
    min-width: 35px;
    min-height: 35px;
  }

  .current-weather__descrip__text-and-label {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(109 194 216 / 20%);
  }

  .current-weather__params {
    display: flex;
    justify-content: space-around;
    grid-column: span 2;
    width: 100%;
  }

  .current-weather__params__elem {
    flex-direction: column;
    flex-basis: 30%;
    gap: 0.5rem;
  }

  /* История просмотров погоды: */
  .weather-app__search-history-wrapper {
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.5s;
  }

  .search-history-wrapper__search-history {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    border-radius: 0.3rem;
  }

  .weather-search-history__elem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.3rem;
  }

  .weather-search-history__elem:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }

  .weather-search-history__elem__city-name {
    white-space: nowrap;
  }

  .weather-search-history__elem__weather-info {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  /* ПРОГНОЗ НА ТЕКУЩИЙ ДЕНЬ: */
  .weather-app__current-day {
    padding: 0.5rem;
  }

  .current-day-forecast__elem {
    padding: 0.5rem 0;
  }

  .weather-app__forecast {
    padding: 0.5rem;
  }

  /* ПРОГНОЗ НА 5 ДНЕЙ: */
  .weather-forecast__title {
    font-size: 1.2rem;
  }

  .weather-forecast__info {
    display: flex;
    gap: 0.5rem;
  }

  .forecast-info__elem {
    font-size: 1rem;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .weather-forecast__title {
    text-align: center;
  }

  .forecast-info__elem__descrip {
    margin-left: auto;
    text-align: right;
  }

  /* Рендер деталей погоды (прогноз 5 дней) по каждому дню: */

  .day-weather__label {
    width: 38px;
    height: 38px;
  }
}

.active-elem {
  visibility: visible;
  opacity: 1;
}

.selected-detailElem {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(68 61 116 / 20%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(68 61 116 / 30%);
  border-radius: 10px;
  cursor: pointer;
}
